<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @partnership_application.company_name %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @partnership_application.company_description %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @partnership_application.contact_email %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @partnership_application.contact_name %>
</p>

<p>
  <strong>Company url:</strong>
  <%= @partnership_application.company_url %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @partnership_application.product_name %>
</p>

<p>
  <strong>Product description:</strong>
  <%= @partnership_application.product_description %>
</p>

<p>
  <strong>Product why is great:</strong>
  <%= @partnership_application.product_why_is_great %>
</p>

<p>
  <strong>Customer service staff:</strong>
  <%= @partnership_application.customer_service_staff %>
</p>

<p>
  <strong>Contact title:</strong>
  <%= @partnership_application.contact_title %>
</p>

<%= link_to 'Edit', edit_partnership_application_path(@partnership_application) %> |
<%= link_to 'Back', partnership_applications_path %>
