
<div class="home-landing">
		
		<section id="intro">

			<nav>

				<%= link_to "thatHQ", root_path %>

				<%= link_to "Login", login_path, class:"float-right" %>

				<%= link_to "Signup", signup_path, class:"float-right" %>

				<%# link_to "About", about_path, class:"float-right" %>

				<%# link_to "Blog", blog_home_path, class:"float-right" %>

			</nav>
			
			<div class="section-content">
				
				<div class="row">

					<div class="col-xs-12 col-sm-8">

						<h1>The Smartest Investment You Will Ever Make</h1>

						<br>
						<br>

						<p>Reading the right books is the single best way to learn how to start making more money.</p>

						<br>

						<p>thatHQ makes it easy to find the right books by providing personalized syllabus of the most effective business books ever published.</p>

						<br>

						<%= link_to "Get Lifetime Access for $29", signup_path, class:"button yellow-background medium stretch-on-mobile" %>


						<a href="#more-information" class="button medium stretch-on-mobile">Learn More</a>

						<br><br>

						<%# link_to "I want a 25% discount", root_path %>



					</div>

					<div class="hidden-xs col-sm-4">
						
						<%# image_tag 'hero_image.PNG' %>

					</div>

				</div>
				
			
			</div>

		</section>


		<section id="more-information">

			<div class="section-content centered">

				<h2>Smarter Reading in 3 Steps</h2>

				<div class="row">

					<div class="col-xs-12 col-sm-4 home-column">

						<span class="number-badge centered">1</span>
						
						<h3 class="centered">Signup</h3>
						
						<p>Signup and take our 90-second assessment so that we can determine your goals and what subjects you need help with the most.</p>

						<br>

					</div>

					<div class="col-xs-12 col-sm-4 home-column">
						
						<span class="number-badge centered">2</span>

						<h3 class="centered">Get Matched</h3>
						
						<p>Our algorithm matches your goals and needs with the best business books on the subject,; from idea generation and product design to strategy and advertising.</p>

						<br>

					</div>

					<div class="col-xs-12 col-sm-4 home-column">
						
						<span class="number-badge centered">3</span>
						
						<h3 class="centered">The List</h3>
						
						<p>We provide you a list of the best business books on each subject that will most help you improve your ability to make more money on the side.</p>

						<br>

						<p>Each suggestion includes the reason we recommend the book for you, the one chapter in the book you should definitely read, and a link to where you can get the book for the best price.</p>

						<br>

					</div>

				</div>	

			</div>	

		</section>

		<!-- <section id="why-reasoning">

			<div class="section-content">

				<h2 class="centered">Learn More, Earn More.</h2>

				<div class="content home">

					<p>Reading books is the best investment you can make in yourself. Period.</p>

					<br>

					<p>.... learning about entrepreneurs ... consistent thing was: THEY READ A TON.</p>

					<br>

					<p>“In my whole life, I have known no wise people (over a broad subject matter area) who didn't read all the time -- none, zero. You'd be amazed at how much Warren reads--and at how much I read. My children laugh at me. They think I'm a book with a couple of legs sticking out.” 

					― Charles T. Munger, Poor Charlie's Almanack: The Wit and Wisdom of Charles T. Munger</p>
					

					<br>

					<p>Reading a book is the smartest investment you can make in yourself to 	become more effective in business.</p>

					<br>

					<p>Therefore, reading the <i><b>right</b></i> books is priceless.</p>

					<br>

					<p>thatHQ makes finding the right books for you easy.  We've read every single book we recommend (and even more that we don't).</p>

				</div>

			</div>	

		</section>

		<section id="">

			<div class="section-content">

				<h2 class="centered">Reading is ...</h2>

				<div class="content home">

					<p>.... learning about entrepreneurs ... consistent thing was: THEY READ A TON.</p>

					<br>

					<p>Reading a book is the smartest investment you can make in yourself to 	become more effective in business.</p>

					<br>

					<p>Therefore, reading the <i><b>right</b></i> books is priceless.</p>

					<br>

					<p>thatHQ makes finding the right books for you easy.  We've read every single book we recommend (and even more that we don't).</p>

				</div>

			</div>	

		</section> -->

</div>

<%= render 'layouts/footer' %>

