
<div class="home-landing">
		
		<section id="intro">

			<nav>

				<%= link_to "thatHQ", root_path %>

			</nav>
			
			<div class="section-content">
				
				<div class="row">

					<div class="col-xs-12 col-sm-8">

						<h1>Learn from the Best, Fast</h1>

						<p>Answer ... to get a personalized reading list of books and articles curated to be .......</p>

						<br>

						<%= link_to "Get Lifetime Access for $19", signup_path, class:"button yellow-background medium stretch-on-mobile" %>

						<%= link_to "Learn More", root_path, class:"button medium stretch-on-mobile" %>

						<br><br>

						<%= link_to "I want a 25% discount", root_path %>



					</div>

					<div class="hidden-xs col-sm-4">
						
						<%# image_tag 'hero_image.PNG' %>

					</div>

				</div>
				
			
			</div>

		</section>


		<section id="more-information">

			<div class="section-content centered">

				<h2>Smarter Reading in 3 Steps</h2>

				<div class="row">

					<div class="col-xs-12 col-sm-4">

						<span class="number-badge centered">1</span>
						<h3 class="centered">Signup</h3>
						<p>Signup ... take our 90-second assessment so that we can determine [ your goals and the progress you have already made].</p>
					</div>

					<div class="col-xs-12 col-sm-4">
						<span class="number-badge centered">2</span>
						<h3 class="centered">Matching</h3>
						<p>Our algorithm matches your ... against out human-curated selection of business books that will provide you the highest quality advice and strategy for growign an online business based on [the progress you have already made.] </p>
					</div>

					<div class="col-xs-12 col-sm-4">
						<span class="number-badge centered">3</span>
						<h3 class="centered">Summary</h3>
						<p>... including the one chapter you should read, the best place to get it, and ...</p>
					</div>

				</div>	

			</div>	

		</section>

		<section id="why-reasoning">

			<div class="section-content">

				<h2 class="centered">Reading is ...</h2>

				<div class="content home">

					<p>.... learning about entrepreneurs ... consistent thing was: THEY READ A TON.</p>

					<br>

					<p>Reading a book is the smartest investment you can make in yourself to 	become more effective in business.</p>

					<br>

					<p>Therefore, reading the <i><b>right</b></i> books is priceless.</p>

					<br>

					<p>thatHQ makes finding the right books for you easy.  We've read every single book we recommend (and even more that we don't).</p>

				</div>

			</div>	

		</section>

		<section id="">

			<div class="section-content">

				<h2 class="centered">Reading is ...</h2>

				<div class="content home">

					<p>.... learning about entrepreneurs ... consistent thing was: THEY READ A TON.</p>

					<br>

					<p>Reading a book is the smartest investment you can make in yourself to 	become more effective in business.</p>

					<br>

					<p>Therefore, reading the <i><b>right</b></i> books is priceless.</p>

					<br>

					<p>thatHQ makes finding the right books for you easy.  We've read every single book we recommend (and even more that we don't).</p>

				</div>

			</div>	

		</section>

</div>

<%= render 'layouts/footer' %>

