<div class="sub-header">

	<div class="category-content">
		
		<% if @offer_category %>

			<a href="<%= root_path %>" class="<%=cp(root_path)%>"><%= OfferCategory.main_category.name %></a>

			<% OfferCategory.main_category.child_categories.each do |offer_category| %>

				<a href="<%= offer_category_index_path(offer_category.url_slug) %>" class="<%= cp(offer_category_index_path(offer_category.url_slug)) %>"><%= offer_category.name %></a>

			<%end%>

		<%else%>

			<% OfferCategory.sidebar_categories(@offer_category).each do |offer_category| %>

				<%= link_to offer_category.name, offer_category_index_path(offer_category.url_slug), class: cp(offer_category_index_path(offer_category.url_slug)) %>

			<%end%>


		<%end%>

	</div>

</div>
