<%= render 'layouts/sidebar' %>

<%= render 'layouts/content_header', offer_category: @offer_category %>

<%= render 'pages/offer_categories_header' %>


<div class="main-content">

	<section>

		<div>
			
			<header>Top Recommendations</header>

			<a href="<%= offer_category_type_index_path(@offer_category.url_slug, "top") %>" class="see-all-cta <%= @offer_category.url_slug %>">See All</a>

		</div>

		<br>

		<%= render 'offers/index_table', offers: @offer_category.top_offers.take(4) %>

	</section>
	
	<br>

	<section>

		<header>Newest Recommendations</header>

		<a href="<%= offer_category_type_index_path(@offer_category.url_slug, "newest") %>" class="see-all-cta <%= @offer_category.url_slug %>">See All</a>

		<br>

		<div class="row">

			<% @offer_category.new_offers.take(4).each do |offer| %>
		        
		        <div class="col-xs-6 col-sm-6 col-md-3">
					<%= render 'offers/hero_index', offer: offer %>
				</div>

			<%end%>

		</div>

	</section>

</div>