<%= render 'layouts/sidebar' %>

<%= render 'layouts/content_header', offer_category: @offer_category  %>

<%= render 'pages/offer_categories_header' %>


<div class="main-content">

	<section>

		<header>Top Recommendations</header>

		<a class="see-all-cta <%= @offer_category.url_slug %>">See All</a>

		<br>
		
		<div class="row">

			<% @offer_category.top_offers.take(4).each do |offer| %>
		        
		        <div class="col-xs-12 col-sm-6 col-md-3">
					<%= render 'offers/hero_index', offer: offer %>
				</div>

			<%end%>

		</div>

	</section>
	
	<br>

	<section>

		<header>Latest Recommendations</header>

		<a class="see-all-cta <%= @offer_category.url_slug %>">See All</a>

		<br>

		<div class="row">

			<% @offer_category.new_offers.take(4).each do |offer| %>
		        
		        <div class="col-xs-12 col-sm-6 col-md-3">
					<%= render 'offers/hero_index', offer: offer %>
				</div>

			<%end%>

		</div>

	</section>

</div>


