<div class="full-screen-popover personal-settings-container">
  
  <div class="fancy-border fixed"></div>

  <!-- <div class="overlay"> -->

    <table>

      <tr>

        <td class="centered">

          <div class="overlay-content-container preferred-category-container reveal-panel">

            <h2>What Category Interests You Most?</h2>

            <% OfferCategory.where(:front_page => true).each do |category| %>

              <a class="update-preferred-category category-background popover-options <%= category.url_slug %> click-to-reveal" data-reveal-panel-id="how-much" data-category-id="<%= category.id %>"><%= category.name  %></a>

            <%end%>


          </div>

          <% PersonalizationQuestion.where(:active => true).each do |question| %>




          <%end%>


          <div class="overlay-content-container preferred-category-container reveal-panel" id="how-much">

            <h2>How Much Money Have You Made Online?</h2>

            <a>$0</a>

            <br>

            <a>> $0</a>


          </div>

          <br><br>
          <br><br>

        </td>

      </tr>

      <tr class="bottom-continue centered">

        <td><span class="glyphicon glyphicon-circle-arrow-down signup-cta-down-arrow" aria-hidden="true"></span></td>

      </tr>


    </table>

  <!-- </div> -->

</div>



<div class="full-screen-popover personal-settings-container" id="personal-settings-container">
  
  <div class="fancy-border fixed"></div>

  <!-- <div class="overlay"> -->

    <table>

      <tr>

        <td class="centered">

          <div class="overlay-content-container preferred-category-container reveal-panel">

            <h2>Welcome to thatHQ!</h2>

            <br>

            <h3>Start and grow your online business.  Get personalized recommendations for books, courses, and more.</h3>

            <a class="button stretch green-background click-to-reveal" data-reveal-panel-id="category">Continue</a><br>
            
            <a class="button stretch red-background click-to-hide skip-personal-settings" data-hide-panel-id="personal-settings-container">Skip Customization</a>

          </div>


          <% PersonalizationQuestion.where(:active => true).each do |question| %>


            <div class="overlay-content-container preferred-category-container reveal-panel" id="how-much" style="display: none;">

              <h2><%= question.question %></h2>

              <% question.personalization_question_answers.each do |answer| %>

                <a class="button stretch red-background update-personalized-question click-to-reveal" data-reveal-panel-id="<%= answer.next_question_display_id %>" data-question-id = "<%= question.id %>" data-answer-id="<%= answer.id %>"></a>

              <%end%>

            </div>



          <%end%>


          <br><br>
          <br><br>

        </td>

      </tr>


    </table>

  <!-- </div> -->

</div>

