<p id="notice"><%= notice %></p>

<h1>Personalization Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Additional text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personalization_questions.each do |personalization_question| %>
      <tr>
        <td><%= personalization_question.question %></td>
        <td><%= personalization_question.additional_text %></td>
        <td><%= link_to 'Show', personalization_question %></td>
        <td><%= link_to 'Edit', edit_personalization_question_path(personalization_question) %></td>
        <td><%= link_to 'Destroy', personalization_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personalization Question', new_personalization_question_path %>
