<%= form_for(offer) do |f| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <h2 style="border-bottom: 2px solid #111;">Records</h2>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :name_url_slug %>
    <%= f.text_field :name_url_slug %>
  </div>

  <div class="field">
    <label>Creator</label><br>
    <%= collection_select(:offer, :creator_id, Creator.all, :id, :display_name, :include_blank => "Select Creator")%>
  </div>

  <br>
  <h2 style="border-bottom: 2px solid #111;">Preview Image and Headlines</h2>

  <div class="field">
    <%= f.label :preview_headline %>
    <%= f.text_field :preview_headline%>
  </div>

  <div class="field">
    <%= f.label :sales_preview_text %>
    <%= f.text_field :sales_preview_text %>
  </div>

  <div class="field">
    <label>Main Image</label>
    <%= f.file_field :image %>
  </div>

  <br>

  <h2 style="border-bottom: 2px solid #111;">Sales Settings</h2>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">

    <label>Category(s)</label>

    <br>

    <% OfferCategory.all.each do |category| %>
        
        <% if offer.has_category_tag(category.id) %>

          <a class="add-tag-option toggle-active toggle-to-activate active" data-activate-input="<%= category.url_slug %>"><%=category.name%></a>

        <%else%>

          <a class="add-tag-option toggle-active toggle-to-activate" data-activate-input="<%= category.url_slug %>"><%=category.name%></a>

        <%end%>

          <input type="hidden" value="<%= offer.has_category_tag(category.id) %>" name="category_tags[<%= category.id %>]" id="<%= category.url_slug %>"></input>

    <% end %>

  </div>

  <div class="field">
    <%= f.label :affiliate %>
    <%= f.check_box :affiliate %>
  </div>

  <div class="field">
    <%= f.label :affiliate_link %>
    <%= f.text_field :affiliate_link %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <br>
  <h2 style="border-bottom: 2px solid #111;">Learn More Page</h2>

   <div class="field">
    <%= f.label :reason_we_recommend %>
    <%= f.text_field :reason_we_recommend %>
  </div>

  <div class="field">
    <%= f.label :who_this_is_good_for %>
    <%= f.text_field :who_this_is_good_for %>
  </div>

  <div class="field">
    <%= f.label :headline %>
    <%= f.text_field :headline %>
  </div>

  <div class="field">
    <%= f.label :sub_headline %>
    <%= f.text_field :sub_headline %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.bootsy_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
