
<section class="row offer-hero-index">

	<div class="col-xs-12 col-sm-6">

		<div class="hero-index-content">
			
			<%= link_to show_offer_formatted_path(offer.name_url_slug) do %>

				<%= image_tag offer.image(:medium), class:"hero-image" %>

			<%end%>

			<br><br>

			<p class="centered"><%= image_tag 'twitter_icon.png', class:"social-media-button" %> <%= image_tag 'facebook_icon.png', class:"social-media-button" %> <%= image_tag 'instagram_icon.png', class:"social-media-button" %></p>

		</div>

	</div>

	<div class="col-xs-12 col-sm-6">

		<div class="hero-index-content">

			<header><%= offer.name %></header>

			<p>by The Creator</p>

			<p>Quick Sales Quip</p>

			<br>

			<%= link_to "Learn More", show_offer_formatted_path(offer.name_url_slug), class:"learn-more-cta" %>

		</div>

	</div>

</section>
