
<div class="offer-index-table">

	<% offers.each do |offer| %>
		
		<div class="table-row">
			
			<div class="row-image">
				<%= image_tag offer.image(:medium), class:"hero-image" %>
			</div>
			
			<div class="row-content">

				<h2 class="title"><%= offer.preview_headline %></h2>

				<p class="preview-summary"><%= offer.sales_preview_text %></p>

				<p><b>Weight: </b> <%= offer.weight_for_user(current_user.id) %></p>

				<% if offer.reason_we_recommend %>

					<p class="preview-summary"><b>Why You Should Read It: </b><%= offer.reason_we_recommend %></p>

				<%end%>

				<% if offer.chapter_to_read %>
				
					<p class="preview-summary"><b>The One Chapter You Should Read: </b><%= offer.chapter_to_read %></p>

				<% end%>

				<p class="review-summary"><%= link_to "Get This", offer.affiliate_link, class:"button green-background small", style:"margin-bottom: 10px;" %> <%= link_to "Learn More", show_offer_formatted_path(offer.name_url_slug), class:"button blue-frame small" %><% if current_user.is_admin %> <%= link_to "Edit", edit_offer_path(offer.id) %> <%end%></p>

			</div>


		</div>

	<% end %>

</div>
