
<div class="offer-index-table">

	<% offers.each do |offer| %>
		
		<div class="table-row">
			
			<div class="row-image">
				<%= image_tag offer.image(:medium), class:"hero-image" %>
			</div>
			
			<div class="row-content">

				<h2 class="title"><%= offer.preview_headline %></h2>

				<p class="preview-summary"><%= offer.sales_preview_text %></p>

				<% if offer.reason_we_recommend %>

					<p class="preview-summary"><b>Reason We Recommend: </b><%= offer.reason_we_recommend %></p>

				<%end%>

				<% if offer.chapter_to_read %>
				
					<p class="preview-summary"><b>The One Chapter to Read: </b><%= offer.chapter_to_read %></p>

				<% end%>

				<p class="review-summary"><%= link_to "Get This", offer.affiliate_link, class:"button green-background small", style:"margin-bottom: 10px;" %> <%= link_to "Learn More", root_path, class:"button blue-frame small" %></p>

			</div>


		</div>

	<% end %>

</div>
