
<div class="offer-index-table">

	<% offers.each do |offer| %>
		
		<div class="table-row">
			
			<div class="row-image">
				<%= image_tag offer.image(:medium), class:"hero-image" %>
			</div>
			
			<div class="row-content">

				<h2 class="title"><%= offer.preview_headline %></h2>

				<p class="preview-summary"><%= offer.sales_preview_text %></p>

				<% if offer.reason_we_recommend %>

					<br>

					<p class="preview-summary"><b>Reason We Recommend: </b><%= offer.reason_we_recommend %></p>

				<%end%>

				<% if offer.chapter_to_read %>
				
					<br>
				
					<p class="preview-summary"><b>The One Chapter to Read: </b><%= offer.chapter_to_read %></p>

				<% end%>
			</div>

			<div class="row-ctas">

				<% unless offer.affiliate %>
			
					<%= link_to "Add to Cart", add_offer_to_order_path(offer.name_url_slug), class:"offer-hero-cta", style:"margin-bottom: 10px;" %>

					<br>

					<%= link_to "Learn More", show_offer_formatted_path(offer.name_url_slug), class:"learn-more-cta" %>

				<%else%>

					<%= link_to "Get This", offer.affiliate_link, class:"offer-hero-cta", style:"margin-bottom: 10px;" %>

					<br>
					
					<%= link_to "Learn More", show_offer_formatted_path(offer.name_url_slug), class:"learn-more-cta", target: :_blank %>

				<%end%>

			</div>

		</div>

	<% end %>

</div>
