<div class="full-screen-popover personal-settings-container" id="personal-settings-container">
	
	<div class="fancy-border fixed"></div>

	<!-- <div class="overlay"> -->

		<table>

			<tr>

				<td class="centered">

					<div class="overlay-content-container preferred-category-container reveal-panel">

						<h2>Welcome to thatHQ!</h2>

						<br>

						<h3>We provide personalized recommendations ... ... making money online. </h3>

						<a class="button stretch green-background click-to-reveal" data-reveal-panel-id="category">Continue</a><br>
						
						<a class="button stretch red-background click-to-hide skip-personal-settings" data-hide-panel-id="personal-settings-container">Skip Customization</a>


					</div>



					<div class="overlay-content-container preferred-category-container reveal-panel" id="category" style="display: none;">

						<h2>What Category Interests You Most?</h2>

						<% OfferCategory.where(:front_page => true).each do |category| %>

							<a class="update-preferred-category category-background popover-options <%= category.url_slug %> click-to-reveal" data-category-id="<%= category.id %>" data-reveal-panel-id="how-much"><%= category.name  %></a>

						<%end%>


					</div>

					<div class="overlay-content-container preferred-category-container reveal-panel" id="how-much" style="display: none;">

						<h2>How Much Money Have You Made Online?</h2>

						<a class="button stretch red-background update-how-much click-to-reveal" data-how-much="false" data-reveal-panel-id="biggest-problem">$0</a><br>

						<a class="button stretch green-background update-how-much click-to-reveal" data-how-much="true" data-reveal-panel-id="biggest-problem">More than $0</a>

					</div>

					<div class="overlay-content-container preferred-category-container reveal-panel" id="biggest-problem" style="display: none;">

						<h2>What is Your Biggest Problem Making More Money Online?</h2>

						<% BiggestProblem.all.each do |problem| %>

							<a class="button stretch green-background update-biggest-problem" data-biggest-problem-id="<%= problem.id %>"><%= problem.description %></a><br>

						<%end%>

					</div>

					<br><br>
					<br><br>

				</td>

			</tr>

			<tr class="bottom-continue centered">

				<td><span class="glyphicon glyphicon-circle-arrow-down signup-cta-down-arrow" aria-hidden="true"></span></td>

			</tr>


		</table>

	<!-- </div> -->

</div>