<div class="modal-container" id="main-menu">

	<div class="main-menu menu-content">

		<span class="dismiss-modal">X</span>

		<%= link_to "Home", root_path %>
		<%= link_to "About Us", about_us_path %>
		<%= link_to "Partnership Application", partnership_application_page_path %>

		<%= link_to "Blog", blog_home_path %>

		<% if user_signed_in? %>

			<% if current_user.is_admin %>

				<%= link_to "Posts", posts_path %>

				<%= link_to "New Offer", new_offer_path %>

				<%= link_to "Newsletter Signups", newsletter_signups_path %>

			<%end%>

			<%= link_to "Logout", destroy_user_session_path, method: :delete %>

		<%end%>
		
	</div>


</div>