
<nav class="content-header-container">
	
		<% if @offer_category.child_categories.count > 0 %>
			
			<a class="content-header-action dropdown-trigger" data-dropdown-id="child-categories">Categories <span class="glyphicon glyphicon-chevron-down"></span></a>

			<div class="child-category-dropdown dropdown-container default-off" id="child-categories">
				
				<ul>
					
					<% @offer_category.child_categories.each do |child_category| %>
						
						<li><%= link_to child_category.name, offer_sub_category_index_path(@offer_category.url_slug, child_category.url_slug) %></li>

					<%end%>

				</ul>

			</div>

		<%end%>


		<% if @personal_settings_object %>
		
			<% if @offer_category.id == @personal_settings_object.preferred_category_id %>
				
				<a href="<%= root_path %>" class="content-header-action <%= @offer_category.url_slug %> <%= cp(offer_category_index_path(@offer_category.url_slug)) %> <%= cp(root_path) %>">Home</a>

			<%else%>
				
				<a href="<%= offer_category_index_path(@offer_category.url_slug) %>" class="content-header-action <%= @offer_category.url_slug %> <%= cp(offer_category_index_path(@offer_category.url_slug)) %> <%= cp(root_path) %>">Home</a>

			<%end%>

		<%else%>

			<% if @offer_category.home_page %>
				
				<a href="<%= root_path %>" class="content-header-action <%= @offer_category.url_slug %> <%= cp(offer_category_index_path(@offer_category.url_slug)) %> <%= cp(root_path) %>">Home</a>

			<%else%>
				
				<a href="<%= offer_category_index_path(@offer_category.url_slug) %>" class="content-header-action <%= @offer_category.url_slug %> <%= cp(offer_category_index_path(@offer_category.url_slug)) %> <%= cp(root_path) %>">Home</a>

			<%end%>

		<%end%>

		<a class="content-header-action <%= @offer_category.url_slug %> <%= cp(offer_category_type_index_path(@offer_category.url_slug, "top")) %>" href="<%= offer_category_type_index_path(@offer_category.url_slug, "top") %>">Top</a>

		<a class="content-header-action <%= @offer_category.url_slug %> <%= cp(offer_category_type_index_path(@offer_category.url_slug, "latest")) %>" href="<%= offer_category_type_index_path(@offer_category.url_slug, "latest") %>">Latest</a>



</nav>

