
<nav class="content-header-container">
	
	<a class="content-header-action">Categories <span class="glyphicon glyphicon-chevron-down"></span></a>

	<a class="content-header-action <%= @offer_category.url_slug %> <%= cp(offer_category_index_path(@offer_category.url_slug)) %> <%= cp(root_path) %>">Home</a>

	<a class="content-header-action <%= @offer_category.url_slug %> <%=  %>">Latest</a>

</nav>

