
<div class="fancy-border main-nav"></div>

<nav class="header-container brand-gradient-background">

	<div class="centered">
		
		<span class="header-option left">

			<a class="logo" href="<%= root_path %>"><span style="
    font-style: italic; letter-spacing: 0px; margin-right: 5px;">that</span><span style="font-weight: 700;">HQ</span></a>

		</span>

		<span class="header-option right">

			<span class="mobile-only">
				<a class="cheeseburger-container modal-cta" data-modal-id="main-menu"><span class="cheeseburger"></span></a>
			</span>

			<span class="full-screen-only">

				<%= link_to "Subscribe", email_signup_path %>

				<%# link_to "Partnership Application", partnership_application_page_path %>

				<%= link_to "Blog", blog_home_path %>

				<% if user_signed_in? %>

					<% if current_user.is_admin %>
						
						<%= link_to "Offer Home", offers_path %>

					<% end %>

					<%= link_to "Logout", destroy_user_session_path, method: :delete %>

				<%end%>

			</span>
			<!-- <%# link_to "Signup", signup_path %><span class="header-login-option">/<%# link_to "Login", root_path %></span> -->

		</span>

	</div>

</nav>

<div class="header-container-offset"></div>