
<div class="fancy-border main-nav"></div>

<nav class="header-container">

	<%= link_to "BlackBacker", root_path %>

	<%= link_to "Signup", new_user_registration_path %>

	<%= Rails.env %>

	<%= "wa" + Stripe.api_key + "s344" %>

	<a>Session ID: <%= session[:id] %></a>

</nav>

<div class="header-container-offset"></div>