<!DOCTYPE html>

<html>
	
	<head>

		<title>Buyblack</title>

		<link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Kanit:300,400" rel="stylesheet">

		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="theme-color" content="#000000">

		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhzf2HMk2q6tM-y-ICTesCzKXwSZHq47A&libraries=places" type="text/javascript"></script>

		<% #<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA4HyY9s9p2773FC379HfoY0mQYxVk0H0&libraries=places" type="text/javascript"></script>%>
		

  		<script src="jquery.geocomplete.js"></script>




		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

	</head>

	<body>

		<% unless user_signed_in?%>
			
			<% if @email_cta %>
				
				<%= render 'pages/email_cta' %>

			<%end%>

		<%end%>

		<div class="content-container">
			
			<%= render 'layouts/header' %>

			<% if flash[:error] %>
				
				<div class="flash-prompt">

					<p><%= flash[:error] %></p>

				</div>

			<%end%>

			<%= yield %>
		
		</div>

	</body>

	<%= render 'layouts/footer' %>

	<%= render 'modals/main_menu' %>

</html>
